.sparing-firkant {
  padding-top: 300px;
  border-radius: 24px;
  background: #e44244;
}

.sparing-firkant-fordeling-totalt {
  margin-left: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
}

.sparing-firkant-fordeling-tall {
  margin-top: 80px; /*skal være 8px*/
  display: flex;
  justify-content: space-between;
}

/*denne er lagt til -- usikker på denne*/
.sparing-sparemaal-knapp:hover {
  transform: translate(100px, 150px);
  transition: transform 0.3s ease-in-out;
}
