.sendContainer-riktig {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 100%;
}

.formContainer-riktig {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  gap: 24px;
}

.elementContainer-riktig {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.buttonStyling-riktig {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px !important;
}

.imageContainer-riktig {
  align-self: flex-start;
}

.successMessageStyling-riktig {
  margin-bottom: 32px;
  width: 100%;
}

.searchableDropDown-riktig input {
  width: 400px;
  border-radius: 20px;
}

.text-input-container-riktig {
  border-radius: 20px;
}

.row-container-riktig {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 18px;
  width: 400px;
  margin-bottom: 16px;
}

.dateContainer-riktig {
  flex-grow: 1;
}

.ffe-form-label {
  display: flex;
  align-items: flex-start;
}
