.sparing-total-riktig {
  padding-top: 16px;
  border-radius: 24px;
}

.sparing-sparemaal-riktig {
  margin-top: 24px;
  text-align: center;
}

.sparing-fordeling-riktig {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 32px;
}

.sparing-fordeling-totalt-riktig {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sparing-fordeling-tall-riktig {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
