.sparing-sparemaal-kort {
  display: flex;
  flex-direction: column;
}

.sparing-sparemaal-kort .ffe-card-base {
  background: yellow; /**/
  border-radius: 50px;
  margin: 16px;
  padding: 16px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
