.banken-tab-group {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 175%;
  border-color: chartreuse;
  border-style: groove;
  border-width: 10px;
}

.banken-tab-send:hover,
.banken-tab-send:focus-within {
  background-color: var(--ffe-farge-baer);
  font-size: 44px;
}
